[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pddl = "==0.4.0"
pylogics = "==0.2.1"
pythomata = "==0.3.2"
graphviz = "*"
ipython = "*"
pydot = "*"
pylatex = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
numpy = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.7"
